////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  Build options for "Adhoc" configuration.
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


#include "conf_reliz_ios.xcconfig"


PPFlagsConf = ADHOC=1


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
