////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  Build options for "Debug" configuration.
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


#include "base_ios.xcconfig"


PPFlagsConf = ADHOC=1 DEBUG=1


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
